@font-face {
  font-family: 'MyFont';
  src: url('./ftest.woff') format('woff'),
    url('./f1.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

h1 {
    text-align: center;
    color: blueviolet;
    background-color: bisque;
    font-family: 'MyFont';
}

#content {
    background: url('./bistro-img.jpg');
}

#img-element {
    max-height: 50vh;
    max-width: 30vh;
}